doctype html
html
	head
		link(href="node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		title Inscription
	body
		
		h1 Inscription
		h2 Étape 2
		div.col-md-4
			div.form-group
				label Email :    
				input.form-control(type="email" placeholder="Email")
				label Numero de telephone :    
				input.form-control(type="" placeholder="Prénom")
				h3 Expérience et parcour
				label Déjà programmé ?
				textarea.form-control
				label Raconter un hack
				textarea.form-control
			button.btn.btn-success page suivante
		


		script(src="node_modules/jquery/dist/jquery.js")
		script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")